<link rel="stylesheet" href="/css/footer.css">

<div class="card w-100 mt-5" style="position: fixed; left: 0; bottom: 0; width: 100%">
    <div class="card-header">
      <p>&#169; All Rights Reserved</p>
      <footer class="blockquote-footer">
        <p title="Source Title">Rohit Lohra</p>
      </footer>
    </div>
  </div>