/* project form */
#project-feed{
    /* background-color: rgb(13, 14, 13); */
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    width: 100%;
  }
 
#project-feed form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* border: 2px solid black; */
    width: 100%;
    height: min-content;
    padding: 0%;
    margin: 0%;
    
}

#project-feed form input{
    width: 70%;
    
    height: 4vh;
    border: 2px solid black;
}

textarea{
    width: 70%;
    height: 15vh;
    margin: 0.5%;
    border: 2px solid black;
}
#project-feed form input::-webkit-input-placeholder{
    /* margin: 5px; */
    padding: 5%;
  
}

#project-feed form #addBtn{
    background-color: #343534;
    width: 20vh;
    height: 5vh;
}